<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <RUN_SYSTEM_TESTS>false</RUN_SYSTEM_TESTS>
      <RUN_LIVE_COGNITO_TESTS>false</RUN_LIVE_COGNITO_TESTS>
      <SYSTEM_BASE_URL>https://v4fxro73vd.execute-api.eu-west-2.amazonaws.com/dev</SYSTEM_BASE_URL>
      <SYSTEM_AWS_REGION>eu-west-2</SYSTEM_AWS_REGION>
      <SYSTEM_COGNITO_USER_POOL_ID>eu-west-2_ECpW7q6CS</SYSTEM_COGNITO_USER_POOL_ID>
      <SYSTEM_COGNITO_CLIENT_ID>1voqqt8m9pppct1ntbriurrqkp</SYSTEM_COGNITO_CLIENT_ID>
      <SYSTEM_TEST_PASSWORD>Pass12345!A</SYSTEM_TEST_PASSWORD>
      <SYSTEM_USERS_TABLE>Users</SYSTEM_USERS_TABLE>

    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
