.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0 32px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.crumb {
    color: var(--neutral-600);
    transition: color 0.2s;
}

.crumb:hover {
    color: var(--green-200);
    text-decoration: none;
}

.sepIcon {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    object-fit: contain;
}

.crumbActive {
    color: var(--neutral-900);
    font-weight: 500;
}