.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: -24px;
}

.crumb {
    color: var(--neutral-600);
}

.sep {
    color: var(--neutral-400);
}

.crumbActive {
    color: var(--neutral-900);
}

.top {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 80px;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title {
    color: var(--green-200);
    margin: 0;
}

.meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--neutral-200);
}

.addressRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pinIcon {
    width: 20px;
    height: 20px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.star {
    width: 20px;
    height: 20px;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--neutral-600);
}

.cta {
    width: 100%;
    max-width: 320px;
}

.photoWrap {
    width: 100%;
    height: 480px;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: var(--shadow-sm);
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.gridDishes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.reviewsHeader {
    display: none;
}

.sortRow {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tabs {
    display: flex;
    gap: 24px;
}

.gridReviews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.pagination {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.stateMessage, .stateMessageError {
    text-align: center;
    padding: 60px 0; /* Узгоджено з мейн пейдж */
}

@media (max-width: 1200px) {
    .top {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .gridDishes, .gridReviews {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    .gridDishes, .gridReviews {
        grid-template-columns: 1fr;
    }
}

.reviewsNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}