.badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: var(--neutral-400);
}

.text {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: var(--neutral-600);
}

.weak .dot {
    background: var(--red-400);
}

.medium .dot {
    background: var(--orange-400);
}

.strong .dot {
    background: var(--green-200);
}